---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

<p>
  Here is a selection of my presentations. A full list is available in my
  <a href="{{ '/files/JingjingWu_CV.pdf' | relative_url }}" target="_blank">CV</a>.
</p>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
